<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FinderServisSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62663/FinderServis.asmx"
                binding="basicHttpBinding" bindingConfiguration="FinderServisSoap"
                contract="FindService.FinderServisSoap" name="FinderServisSoap" />
        </client>
    </system.serviceModel>
</configuration>